---
ip: "{{ homestead_ip }}"
memory: {{ homestead_memory }}
cpus: {{ homestead_cpu }}
provider: {{ homestead_provider}}

authorize: {{ homestead_public-key }}

{% if homestead_private-keys is defined %}
keys:
{% for key in homestead_private-keys %}
    - {{ key }}
{% endfor %}
{% endif %}

folders:
{% for folder in homestead_folders %}
    - map: {{ folder.local }}
      to: {{ folder.remote }}
{% endfor %}

sites:
{% for site in homestead_sites %}
    - map: {{ site.url }}
      to: {{ site.path }}
{% endfor %}

databases:
{% for database in homestead_databases %}
    - {{ database }}
{% endfor %}

{% if homestead_ports is defined %}
ports:
{% for port in homestead_ports %}
      - send: {{ port.extern }}
        to: {{ port.intern }}
{% endfor %}
{% endif %}
